In [5]:
import pandas as pd
from pandas.io.html import read_html
from selenium import webdriver
import time

In [2]:
pages = ['https://www.f1fantasytracker.com/standings.html', 'https://www.f1fantasytracker.com/prices.html']
ids = ['constructorTable', 'driverTable']

In [3]:
from webdriver_manager.firefox import GeckoDriverManager

driver = webdriver.Firefox(executable_path=GeckoDriverManager().install())
# driver.get()

====== WebDriver manager ======
Current firefox version is 104.0
Get LATEST geckodriver version for 104.0 firefox
Driver [/Users/michaelmatney/.wdm/drivers/geckodriver/macos/v0.31.0/geckodriver] found in cache

In [6]:
frames = []
tables = []

for page in pages:
    driver.get(page)
    time.sleep(1)
    
    for id in ids:
        table = driver.find_element_by_id(id)
        tables.append(table)
        data = read_html(table.get_attribute('outerHTML'))
        frames.append(data[0])

In [8]:
driver.close()
driver.quit()

In [7]:
frames

[           Team  BAH  SAU  AUS  ITA  USA  SPA  MON  AZE  CAN  ...  BEL  NET  \
 0      Mercedes   57   34   64   31   40   49   42   60   55  ...   29   58
 1      Red Bull    4   62   39   99   69   94   69   77   31  ...   86   64
 2        Alpine   24   13   10    8   19   33   15   27   23  ...   33   32
 3       Ferrari   76   63   44   30   56   30   51    3   60  ...   41   47
 4    AlphaTauri   10    3    8   36   -3   15    5   18   -3  ...   23   -2
 5  Aston Martin   14   19    3   32    1   20   15   28   25  ...   25   18
 6    Alfa Romeo   31    3   24   35    3   10   21    3   30  ...   -8  -10
 7      Williams   15   -1    8   17   26   14    1   20    9  ...    5   15
 8          Haas   27    1   13    8    5   -6  -16    3   -2  ...    5    5
 9       Mclaren    9    9   37   41    1   13   26   24    3  ...   -4   16

    ITA.1  SIN  JAP  USA.1  MEX  BRA  ABU  Total
 0      0    0    0      0    0    0    0  760.0
 1      0    0    0      0    0    0    0  911.0
 2      0    0    0      0    0    0    0  347.0
 3      0    0    0      0    0    0    0  697.0
 4      0    0    0      0    0    0    0  121.0
 5      0    0    0      0    0    0    0  285.0
 6      0    0    0      0    0    0    0  146.0
 7      0    0    0      0    0    0    0  127.0
 8      0    0    0      0    0    0    0  116.0
 9      0    0    0      0    0    0    0  262.0

 [10 rows x 24 columns],
                   Driver  BAH  SAU  AUS  ITA  USA  SPA  MON  AZE  CAN  ...  \
 0     Hamilton  Mercedes   34   13   26    5   19   21   11   26   48  ...
 1   Verstappen  Red Bull    5   45    4   62   56   45   28   54   44  ...
 2      Russell  Mercedes   28   26   33   33   36   33   26   34   27  ...
 3        Perez  Red Bull    4   22   35   44   28   49   46   38   -8  ...
 4         Alonso  Alpine    9   -3   -5    2    5   14   19   22    7  ...
 5       Leclerc  Ferrari   49   41   49   30   50    5   22    5   23  ...
 6      Gasly  AlphaTauri   -4   17   14   13   -1    5   15   26   11  ...
 7   Vettel  Aston Martin    4   15   -7   24   -5   17   10   25   14  ...
 8         Sainz  Ferrari   32   27   -5    7   31   25   34    0   42  ...
 9    Tsunoda  AlphaTauri   19   -9   -1   30    3   15   -5   -3   -9  ...
 10          Ocon  Alpine   20   21   20   13   19   24    1   10   21  ...
 11    Bottas  Alfa Romeo   22   -2   20   34   17   23   26   14   20  ...
 12  Stroll  Aston Martin   15    9   15   15   11    8   10    8   16  ...
 13       Albon  Williams   10   13    5   14   19    6   -7   17    6  ...
 14      Zhou  Alfa Romeo   14   10    9    8   -9   -8   10   -6   15  ...
 15      Latifi  Williams   10   -9    8   10   12   13   13    8    8  ...
 16       Magnussen  Haas   27   14    6   18    2   -1   -6   -7    5  ...
 17      Schumacher  Haas    5   -8   12   -3    8    0   -8   15   -2  ...
 18    Ricciardo  Mclaren   13   -8   18    5    8    2    5   18    7  ...
 19       Norris  Mclaren    1   22   24   43   -2   16   26   11    1  ...

     BEL  NET  ITA.1  SIN  JAP  USA.1  MEX  BRA  ABU  Total
 0     4   25      0    0    0      0    0    0    0    392
 1    49   54      0    0    0      0    0    0    0    615
 2    30   53      0    0    0      0    0    0    0    452
 3    32   20      0    0    0      0    0    0    0    395
 4    24   34      0    0    0      0    0    0    0    218
 5    20   31      0    0    0      0    0    0    0    426
 6    16    6      0    0    0      0    0    0    0    148
 7    19   12      0    0    0      0    0    0    0    182
 8    31   11      0    0    0      0    0    0    0    352
 9    12   -3      0    0    0      0    0    0    0     52
 10   14   23      0    0    0      0    0    0    0    233
 11   -9   -9      0    0    0      0    0    0    0    165
 12   11   11      0    0    0      0    0    0    0    182
 13   10   14      0    0    0      0    0    0    0    131
 14    6    4      0    0    0      0    0    0    0     67
 15    0    6      0    0    0      0    0    0    0     75
 16    9    8      0    0    0      0    0    0    0    104
 17    1    2      0    0    0      0    0    0    0     88
 18   -5    2      0    0    0      0    0    0    0     90
 19    6   19      0    0    0      0    0    0    0    251

 [20 rows x 24 columns],
            Team Current Price Season Start PriceSeason Price  Points/Million
 0      Mercedes        $34.2m                         $34.5m            1.48
 1      Red Bull        $32.7m                         $32.5m            1.86
 2       Ferrari        $25.8m                         $25.0m            1.80
 3       Mclaren        $17.7m                         $18.5m            0.99
 4        Alpine        $14.1m                         $14.0m            1.64
 5  Aston Martin        $11.8m                         $11.5m            1.61
 6    AlphaTauri        $10.2m                         $10.5m            0.79
 7    Alfa Romeo         $8.6m                          $8.0m            1.13
 8          Haas         $6.4m                          $6.0m            1.21
 9      Williams         $6.2m                          $7.0m            1.37,
                                  Driver Current Price  \
 0         Lewis Hamilton  HAM  Mercedes        $30.6m
 1         Max Verstappen  VER  Red Bull        $30.4m
 2         George Russell  RUS  Mercedes        $23.8m
 3         Charles Leclerc  LEC  Ferrari        $18.7m
 4           Sergio Perez  PER  Red Bull        $17.9m
 5            SAI  Carlos Sainz  Ferrari        $17.2m
 6            Lando Norris  NOR  Mclaren        $15.9m
 7        Daniel Ricciardo  RIC  Mclaren        $14.2m
 8         Pierre Gasly  GAS  AlphaTauri        $13.0m
 9          Fernando Alonso  ALO  Alpine        $12.7m
 10            Esteban Ocon  OCO  Alpine        $12.3m
 11  Sebastian Vettel  VET  Aston Martin        $11.8m
 12     Valtteri Bottas  BOT  Alfa Romeo         $9.5m
 13      Lance Stroll  STR  Aston Martin         $9.1m
 14        Yuki Tsunoda  TSU  AlphaTauri         $8.4m
 15         Guanyu Zhou  ZHO  Alfa Romeo         $8.1m
 16            Alex Albon  ALB  Williams         $7.7m
 17       Nicholas Latifi  LAT  Williams         $6.9m
 18           Mick Schumacher  SCH  Haas         $6.3m
 19           Kevin Magnussen  MAG  Haas         $6.1m

    Season Start PriceSeason Price  Points/Million
 0                          $31.0m            0.85
 1                          $30.5m            1.35
 2                          $24.0m            1.27
 3                          $18.0m            1.52
 4                          $17.5m            1.47
 5                          $17.0m            1.36
 6                          $16.0m            1.05
 7                          $14.5m            0.42
 8                          $13.5m            0.76
 9                          $12.5m            1.14
 10                         $12.0m            1.26
 11                         $11.5m            1.03
 12                          $9.0m            1.16
 13                          $9.5m            1.33
 14                          $8.5m            0.41
 15                          $8.0m            0.55
 16                          $7.5m            1.13
 17                          $7.0m            0.72
 18                          $6.5m            0.93
 19                          $5.5m            1.14  ]

In [9]:
frames[2].sort_values(by=['Points/Million'], ascending=False)

           Team Current Price Season Start PriceSeason Price  Points/Million
1      Red Bull        $32.7m                         $32.5m            1.86
2       Ferrari        $25.8m                         $25.0m            1.80
4        Alpine        $14.1m                         $14.0m            1.64
5  Aston Martin        $11.8m                         $11.5m            1.61
0      Mercedes        $34.2m                         $34.5m            1.48
9      Williams         $6.2m                          $7.0m            1.37
8          Haas         $6.4m                          $6.0m            1.21
7    Alfa Romeo         $8.6m                          $8.0m            1.13
3       Mclaren        $17.7m                         $18.5m            0.99
6    AlphaTauri        $10.2m                         $10.5m            0.79

In [10]:
frames[3].sort_values(by=['Points/Million'], ascending=False)

,Driver,Current Price,Season Start PriceSeason Price,Points/Million
3,Charles Leclerc LEC Ferrari,$18.7m,$18.0m,1.52
4,Sergio Perez PER Red Bull,$17.9m,$17.5m,1.47
5,SAI Carlos Sainz Ferrari,$17.2m,$17.0m,1.36
1,Max Verstappen VER Red Bull,$30.4m,$30.5m,1.35
13,Lance Stroll STR Aston Martin,$9.1m,$9.5m,1.33
2,George Russell RUS Mercedes,$23.8m,$24.0m,1.27
10,Esteban Ocon OCO Alpine,$12.3m,$12.0m,1.26
12,Valtteri Bottas BOT Alfa Romeo,$9.5m,$9.0m,1.16
9,Fernando Alonso ALO Alpine,$12.7m,$12.5m,1.14
19,Kevin Magnussen MAG Haas,$6.1m,$5.5m,1.14
16,Alex Albon ALB Williams,$7.7m,$7.5m,1.13
6,Lando Norris NOR Mclaren,$15.9m,$16.0m,1.05
11,Sebastian Vettel VET Aston Martin,$11.8m,$11.5m,1.03
18,Mick Schumacher SCH Haas,$6.3m,$6.5m,0.93
0,Lewis Hamilton HAM Mercedes,$30.6m,$31.0m,0.85
8,Pierre Gasly GAS AlphaTauri,$13.0m,$13.5m,0.76
17,Nicholas Latifi LAT Williams,$6.9m,$7.0m,0.72
15,Guanyu Zhou ZHO Alfa Romeo,$8.1m,$8.0m,0.55
7,Daniel Ricciardo RIC Mclaren,$14.2m,$14.5m,0.42
14,Yuki Tsunoda TSU AlphaTauri,$8.4m,$8.5m,0.41

In [11]:
frames[0].sort_values(by='Total', ascending=False)

,Team,BAH,SAU,AUS,ITA,USA,SPA,MON,AZE,CAN,...,BEL,NET,ITA.1,SIN,JAP,USA.1,MEX,BRA,ABU,Total
1,Red Bull,4,62,39,99,69,94,69,77,31,...,86,64,0,0,0,0,0,0,0,911.0
0,Mercedes,57,34,64,31,40,49,42,60,55,...,29,58,0,0,0,0,0,0,0,760.0
3,Ferrari,76,63,44,30,56,30,51,3,60,...,41,47,0,0,0,0,0,0,0,697.0
2,Alpine,24,13,10,8,19,33,15,27,23,...,33,32,0,0,0,0,0,0,0,347.0
5,Aston Martin,14,19,3,32,1,20,15,28,25,...,25,18,0,0,0,0,0,0,0,285.0
9,Mclaren,9,9,37,41,1,13,26,24,3,...,-4,16,0,0,0,0,0,0,0,262.0
6,Alfa Romeo,31,3,24,35,3,10,21,3,30,...,-8,-10,0,0,0,0,0,0,0,146.0
7,Williams,15,-1,8,17,26,14,1,20,9,...,5,15,0,0,0,0,0,0,0,127.0
4,AlphaTauri,10,3,8,36,-3,15,5,18,-3,...,23,-2,0,0,0,0,0,0,0,121.0
8,Haas,27,1,13,8,5,-6,-16,3,-2,...,5,5,0,0,0,0,0,0,0,116.0

In [12]:
frames[1]

,Driver,BAH,SAU,AUS,ITA,USA,SPA,MON,AZE,CAN,...,BEL,NET,ITA.1,SIN,JAP,USA.1,MEX,BRA,ABU,Total
0,Hamilton Mercedes,34,13,26,5,19,21,11,26,48,...,4,25,0,0,0,0,0,0,0,392
1,Verstappen Red Bull,5,45,4,62,56,45,28,54,44,...,49,54,0,0,0,0,0,0,0,615
2,Russell Mercedes,28,26,33,33,36,33,26,34,27,...,30,53,0,0,0,0,0,0,0,452
3,Perez Red Bull,4,22,35,44,28,49,46,38,-8,...,32,20,0,0,0,0,0,0,0,395
4,Alonso Alpine,9,-3,-5,2,5,14,19,22,7,...,24,34,0,0,0,0,0,0,0,218
5,Leclerc Ferrari,49,41,49,30,50,5,22,5,23,...,20,31,0,0,0,0,0,0,0,426
6,Gasly AlphaTauri,-4,17,14,13,-1,5,15,26,11,...,16,6,0,0,0,0,0,0,0,148
7,Vettel Aston Martin,4,15,-7,24,-5,17,10,25,14,...,19,12,0,0,0,0,0,0,0,182
8,Sainz Ferrari,32,27,-5,7,31,25,34,0,42,...,31,11,0,0,0,0,0,0,0,352
9,Tsunoda AlphaTauri,19,-9,-1,30,3,15,-5,-3,-9,...,12,-3,0,0,0,0,0,0,0,52
10,Ocon Alpine,20,21,20,13,19,24,1,10,21,...,14,23,0,0,0,0,0,0,0,233
11,Bottas Alfa Romeo,22,-2,20,34,17,23,26,14,20,...,-9,-9,0,0,0,0,0,0,0,165
12,Stroll Aston Martin,15,9,15,15,11,8,10,8,16,...,11,11,0,0,0,0,0,0,0,182
13,Albon Williams,10,13,5,14,19,6,-7,17,6,...,10,14,0,0,0,0,0,0,0,131
14,Zhou Alfa Romeo,14,10,9,8,-9,-8,10,-6,15,...,6,4,0,0,0,0,0,0,0,67
15,Latifi Williams,10,-9,8,10,12,13,13,8,8,...,0,6,0,0,0,0,0,0,0,75
16,Magnussen Haas,27,14,6,18,2,-1,-6,-7,5,...,9,8,0,0,0,0,0,0,0,104
17,Schumacher Haas,5,-8,12,-3,8,0,-8,15,-2,...,1,2,0,0,0,0,0,0,0,88
18,Ricciardo Mclaren,13,-8,18,5,8,2,5,18,7,...,-5,2,0,0,0,0,0,0,0,90
19,Norris Mclaren,1,22,24,43,-2,16,26,11,1,...,6,19,0,0,0,0,0,0,0,251

## Write Data

In [13]:
frame_labels = ['team_pts', 'driver_pts', 'team_price', 'driver_price']

for i, frame in enumerate(frames):
    frame.to_csv(f'./data/raw/{frame_labels[i]}.csv', sep='|')